In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？
'''
df.loc[ '2013-01-01', 'A'] # index: '2013-01-01', column: 'A'
df.loc[ '2013-01-01', ['A', 'B'] ] # index: '2013-01-01', column: ['A','B']
df.loc[ '2013-01-01':'2013-01-02', 'A' ] # index: ['2013-01-01'~ 2013-01-02'], column: 'A'
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] # index: ['2013-01-01'~ 2013-01-05'], column: ['A' ~ 'C']

'''

"\ndf.loc[ '2013-01-01', 'A'] # index: '2013-01-01', column: 'A'\ndf.loc[ '2013-01-01', ['A', 'B'] ] # index: '2013-01-01', column: ['A','B']\ndf.loc[ '2013-01-01':'2013-01-02', 'A' ] # index: ['2013-01-01'~ 2013-01-02'], column: 'A'\ndf.loc[ '2013-01-01':'2013-01-05', 'A':'C'] # index: ['2013-01-01'~ 2013-01-05'], column: ['A' ~ 'C']\n\n"

In [4]:
# 2. 請根據提供的資料，選擇出下列的要求：
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0 -0.063074  0.521839  2.672801
1  0.436515  0.003924 -0.367957
2 -0.724013 -1.106504  0.466800
3 -1.303415  0.536532  0.674175
4  1.022403 -1.177726 -1.475341
5 -0.436009 -1.605791 -1.789865

In [54]:
print(df.loc[0:2])
print(df.loc[1::2])

       col1      col2      col3
0 -0.063074  0.521839  2.672801
1  0.436515  0.003924 -0.367957
2 -0.724013 -1.106504  0.466800
       col1      col2      col3
1  0.436515  0.003924 -0.367957
3 -1.303415  0.536532  0.674175
5 -0.436009 -1.605791 -1.789865

In [51]:
print(df.iloc[:, -2:])

       col2      col3
0  0.521839  2.672801
1  0.003924 -0.367957
2 -1.106504  0.466800
3  0.536532  0.674175
4 -1.177726 -1.475341
5 -1.605791 -1.789865

In [53]:
print(df.iloc[:, 0::2])

       col1      col3
0 -0.063074  2.672801
1  0.436515 -0.367957
2 -0.724013  0.466800
3 -1.303415  0.674175
4  1.022403 -1.475341
5 -0.436009 -1.789865

In [55]:
#3. 請根據提供的資料，選擇出下列的要求：

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   31  35  21  20
1   13  30  27  32
2   14  14  23  37
3   26  26  26  39
4   35  21  17  14
5   26  37  21  22
6   10  32  32  24
7   26  30  12  16
8   22  32  17  12
9   25  32  34  32
10  32  27  16  34
11  34  27  11  11
12  34  29  20  32
13  16  24  16  31
14  30  22  18  32

In [66]:
# - 1. filtered by first column > 20?
print(df[df[0] > 20])

0      True
1     False
2     False
3      True
4      True
5      True
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14     True
Name: 0, dtype: bool
     0   1   2   3
0   31  35  21  20
3   26  26  26  39
4   35  21  17  14
5   26  37  21  22
7   26  30  12  16
8   22  32  17  12
9   25  32  34  32
10  32  27  16  34
11  34  27  11  11
12  34  29  20  32
14  30  22  18  32

In [68]:
# - 2. filtered by first column + second column > 50
print(df[df[0] + df[1] > 50])

     0   1   2   3
0   31  35  21  20
3   26  26  26  39
4   35  21  17  14
5   26  37  21  22
7   26  30  12  16
8   22  32  17  12
9   25  32  34  32
10  32  27  16  34
11  34  27  11  11
12  34  29  20  32
14  30  22  18  32

In [90]:
# - 3. filtered by first column < 30 or second column > 30
mask1 = df[0]<30
mask2 = df[1]>30
print(df[(mask1) | (mask2)])
print(df[(df[0]<30) | (df[1]>30)])

     0   1   2   3
0   31  35  21  20
1   13  30  27  32
2   14  14  23  37
3   26  26  26  39
5   26  37  21  22
6   10  32  32  24
7   26  30  12  16
8   22  32  17  12
9   25  32  34  32
13  16  24  16  31
     0   1   2   3
0   31  35  21  20
1   13  30  27  32
2   14  14  23  37
3   26  26  26  39
5   26  37  21  22
6   10  32  32  24
7   26  30  12  16
8   22  32  17  12
9   25  32  34  32
13  16  24  16  31

In [101]:
# - 4. filtered by total sum of row > 100
print(df.sum(axis = 1))
print(df[df.sum(axis = 1) > 100])

0     107
1     102
2      88
3     117
4      87
5     106
6      98
7      84
8      83
9     123
10    109
11     83
12    115
13     87
14    102
dtype: int64
     0   1   2   3
0   31  35  21  20
1   13  30  27  32
3   26  26  26  39
5   26  37  21  22
9   25  32  34  32
10  32  27  16  34
12  34  29  20  32
14  30  22  18  32