In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df1 = pd.DataFrame(data, index=labels)
df1

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [4]:
# 1. 根據給定的 DataFrame 中取出索引為 3, 4, 8 的 animal 和 age 欄位。

temp = [3, 4, 8]

for i in temp:
    print("第 %d 列" %(i))
    print(df1.iloc[i, [0, 1]])

df1.loc[df1.index[[3, 4, 8]], ['animal', 'age']]

第 3 列
animal    dog
age       NaN
Name: d, dtype: object
第 4 列
animal    dog
age         5
Name: e, dtype: object
第 8 列
animal    dog
age         7
Name: i, dtype: object

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [ ]:
#2. 請將 dataFrame 所有字串都變成是大寫開頭。

In [6]:
df2 = pd.DataFrame([
    ['tom', 'mark', 'mary'],
    ['bob', 'alice', 'john']
])
df2

     0      1     2
0  tom   mark  mary
1  bob  alice  john

In [10]:
print(df2[0].str.title())
print(df2[1].str.title())
print(df2[2].str.title())

0    Tom
1    Bob
Name: 0, dtype: object
0     Mark
1    Alice
Name: 1, dtype: object
0    Mary
1    John
Name: 2, dtype: object

AttributeError: 'Series' object has no attribute 'title'

In [9]:
df2.applymap(lambda x: x.title())

     0      1     2
0  Tom   Mark  Mary
1  Bob  Alice  John